
    h3{
        color: #ff0000e1;
        font-family: 'Montserrat', sans-serif;   
        font-weight: 300;
        font-size: 1rem;
        text-transform: uppercase;
        padding: 2vh;

    }
    h4{
        color: orangered;
        font-family: 'Montserrat solid', sans-serif;   
        font-weight: 300;
        font-size: 1rem;
        padding: 2vh;
    }
    


.servicios{
    
    width: 100%;
    margin: 3vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:flex-start;
    text-align: center;
   
}
.servicios div img{
    height: 15vw;
}
.servicios div video{
    height: 15vw;
}

.servicios div a{
    color: black;
    padding: 2vh;
}
.historias{
    
    width: 100%;
    margin: 3vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
    text-align: center;
   
}
.historias img{
    align-self: center;
}
.historias h4{
    align-self: flex-start;
    padding: 0 2vw 5vh 2vw;
}
.historias div img{
    align-self: center;
}
.historias div img{
    height: 10vw;
}
