h3{
    color: #ff0000e1;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;

}
h4{
    color: orangered;
}
p{
    color: rgb(139, 111, 19);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
}
hr{
background-color: rgb(78, 78, 78);
height: 6px;
}
table{
    color: #612f06e1;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 200;
    font-size: 1rem;
    text-align: left;
    padding: 2rem;
    border: 1rem;
    width: 80vh;
    height: 40vh;
}
table,p{
    color: whitesmoke;
   ;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 0.8rem;
}
th{
    background: #a11414e1;
    color: whitesmoke;
}
td{
    background: #5e5353;
    color: whitesmoke;
}
ul,td{
    list-style-type: square;
    align-items: center;
}