h3{
    color: #ff0000e1;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;

}
h4{
    color: orangered;
}
p{
    color: rgb(139, 111, 19);
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 0.9rem;
}
hr{
background-color: rgb(78, 78, 78);
height: 6px;
}