/*$colorPrimario: #4da1a9ff;
$colorTerciario: #ffa630ff;
$colorSecundario: #d7e8baff;
$colorFuente: #611c35ff;
$colorTitulo: #ffa630ff#611c35ff;*/
$colorPrimario:#343f3eff ;
$colorSecundario: #8f91a2ff;
$colorTerciario: #94b0daff;
$colorFuente: whitesmoke;
$colorTitulo: #505a5bff;