$colorPrimario: #ffa630ff;
$colorSecundario: #d7e8baff;
$fuentes: #4da1a9ff;
$colorTerciario: #2e5077ff;
$rojoViejo: #611c35ff;
$fuenteTitulo:'Montserrat', sans-serif;
$fuenteLetra: 'Roboto', sans-serif;
*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 12vh auto auto auto auto 35vh 3vh;
}
.header{
    background-color: $colorPrimario;
    color: whitesmoke;
    top: 0;
    position: sticky;
    grid-column: 1/1;
    grid-row: 1/2;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    transition: all 1s;
    z-index: 3;
    border-bottom: 1px solid whitesmoke;

    .header__logo{
        padding: 2vh;
        align-self: center;
        height: 15vh;
    }

    .header__accesos{
        display: flex;
        flex-flow: column nowrap;    
        float:right;
    
        img{
            height: 3vh;
            padding: 0 2vw;
        }   

        .img--efectoGiro{
            transition: all 1s ;
        }

        .img--efectoGiro:hover{
            transform: translateY(2px) rotateY(360deg);
        }

        form{

            button {
                background-color: transparent;
                border: none;
            }

            input{
                right: 0;
                position: fixed;
                top: 12vh;
                display: none;
            }
            
            &:hover input{
                display: block;
                width: min-content;
                background-color: $colorSecundario;
                border: none;
                text-align: center;
                
            }
        }
        
    }
    .header__menu{

        ul{
            list-style-type: none;

            img{
                padding: 0.5vh;
                border: none;
            }

            a{
                text-decoration: none;
                color: whitesmoke;
            }
            
            ul{
                position: absolute;
                display: none;

                li{
                    font-family: $fuenteLetra;
                    font-weight: 500;
                    font-size: 1rem; 
                    text-align: justify;
                    border-bottom: solid whitesmoke 2px;
                    padding: 2vh;
                    list-style-type: none;
                    display: block;
                }
            }

            &:hover ul{
                display: inline-block;
                background-color: $colorPrimario;
                height: 100vh;
                top: 12vh;
                left: 0;
            }
        }
        
    }
}
.footer{

    grid-column: 1/1;
    grid-row: 6/7;
    padding: 1vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: flex-start;
    background-color: $colorTerciario;
    position: absolute;
    width: 100%;

    a{
        text-decoration: none;
        color: $colorSecundario;
        } 
    }

    .footer__menu{
        font-family: $fuenteLetra;
        font-weight: 300;
        font-size: 0.8rem; 
        text-align: justify;
        line-height: 1.5rem;
        color: $colorSecundario;
        float: left;
        list-style-type: none;
        padding: 1rem 2rem;

        
        li{
            border-bottom: solid $colorSecundario 1px;
        }
    
    .footer__menu--titulo{
        border: none;
        font-size: 1.1rem;
        font-weight: 800;
    }

    .footer__redes{
        float: right;
        position: block;
        
        ul{
            li{
                list-style-type: none;
                padding: 0 wv;
                }
        }
       
        }   
}
.derechos{

    grid-column: 1/1;
    grid-row: 7/8;
    background-color: $colorPrimario;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 0.8em;
    color: whitesmoke;
    width: 100%;
    bottom: 0;
    position: fixed;
    display: flex;
    flex-flow: row nowrap;
    z-index: 1;

    .derechos__wsp{
        height: 2vh;
        position: relative;
        transform: translate(25vw,-10vh) scale(4);
        transition: all 0.5s;
        opacity: 0.5;
    
        &:hover{
            transform: translate(25vw,-10vh) scale(7);
            opacity: 1;
        }    
    }  
}


/*estilo sin modificar*/

h3{
    color: #ff0000e1;
    font-family: 'Montserrat', sans-serif;   
    font-weight: 300;
    font-size: 1rem;
    text-transform: uppercase;
    padding: 2vh;

}
h4{
    color: orangered;
    font-family: 'Montserrat solid', sans-serif;   
    font-weight: 300;
    font-size: 1rem;
    padding: 2vh;
}


.gridLogin{
    font-family: 'Montserrat solid', sans-serif;   
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
    display: flex;
    flex-flow: column nowrap;
    gap: 3vh;
    padding: 2vh;
    margin-left: 10vw;
    text-align: left;
    height: 85vh;
}
.gridLogin input{
    width: 50%;
}

.gridEmergenteIndex{
    grid-column: 1/1;
    grid-row: 2/3;
    border-bottom: 2vh rgb(100, 100, 100) solid;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Montserrat solid', sans-serif;   
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;

    .carousel-inner{
        padding: 0;
        margin: 0;
        height: 22vh;
    }
}
.gridEmergenteIndex h1{ 
    padding: 2vh;
    margin-right: 10vw;
    text-align: right;
}
.gridEmergenteIndex h2{
    margin-right: 10vw;
    text-align: right;
}
.emergente1{
    display:flex;
    flex-flow: row nowrap;
    padding: 2vh;
    margin: 0 10vw;
}
.emergente1 img{
    height: 15vh;
    padding: 0 2vh 0 0;
}
.emergente2{
    display:flex;
    flex-flow: row nowrap;
    padding: 2vh;
    margin: 0 10vw;
}
.emergente3{
    display:flex;
    flex-flow: row nowrap;
    padding: 2vh;
    margin: 0 10vw;
    justify-content: flex-end;
}
.gridQuienesIndex{
    grid-column: 1;
    grid-row: 3/4;
    border-bottom: 2vh rgb(100, 100, 100) solid;
    display: flex;
    flex-flow: column nowrap;
    font-family: 'Montserrat solid', sans-serif;   
    font-weight: 500;
    font-size: 1rem;
    line-height: 2rem;
}
.gridQuienesIndex h2{
    padding: 2vh;
    margin-left: 10vw;
    text-align: left;
}
.gridQuienesIndex h3{
    padding: 2vh;
    margin-left: 10vw;
    text-align: left;
}

.gridQuienesIndex div{
    display:flex;
    flex-flow: row nowrap;
    padding: 2vh;
    margin: 0 10vw;
}
.gridQuienesIndex img{
    height: 20vh;
}
.gridServiciosIndex{
    grid-column: 1/1;
    grid-row: 4/5;
    border-bottom: 2vh rgb(100, 100, 100) solid;
    align-items: center;
}
.servicios{
    margin: 10% 0;
    padding: 2vh;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items:center;
    text-align: center;
   
}
.servicios div img{
    height: 15vw;
}
.servicios div video{
    height: 15vw;
}

.servicios div a{
    color: black;
    padding: 2vh;
}
.gridHistoriasIndex{
    grid-column: 1;
    grid-row: 5/6;
    border-bottom: 2vh rgb(100, 100, 100) solid;
    
}
.historias{
    margin: 3vh 0;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;   
    gap: 1vh;
    height: 86vh;
}

.card{
    border: black solid round 1px;
    

    .card-img-top{
        height: 30vh;
    }
    .card-body{
        height: 50vh;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-between;
        text-align: center;
        
    } 
    .card-title{
        align-self: center;
    }
    .btn{
        justify-self: flex-end;
    }
}
.card a{
    background-color: orangered;
    border: black solid 2px;
}

h1{
    color: #a11414e1;   
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
}
h2{
    color: #cf0a0ae1;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 1.5rem;
    margin: 3vh;
    text-align: start;
}

.gridServicioTecnico{
    grid-column: 1;
    grid-row: 2/4;
    border-bottom: solid 2vh rgb(100, 100, 100);
    justify-items: start;
    align-items: center;
 }
 .servicioTecnico{
     padding: 1vh;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     align-items: center;
     text-align: center;
     
 }
 .servicioTecnico div{
     border: 3px solid orange;
     margin: 1%;
     width: 30%;
 }
 .servicioTecnico p{
     padding: 2vh;
 }
 .servicioTecnico img{
     height: 15vh;
 
 }
 .servicioTecnico ul{
     list-style-type: disc;
     Color: rgb(32, 25, 1);
     font-family: 'Montserrat', sans-serif;
     font-weight: 200;
     font-size: 1rem;
     text-align: justify;
     padding: 1vh 10vh;
 }
 .gridFormaTrabajo{
     grid-column: 1;
     grid-row: 4/5;
     border-bottom: 2vh black solid;
 }
 .formaTrabajo{
   
     padding: 3vh;
     margin: 3vh 0;
     display: flex;
     flex-flow: row wrap;
     justify-content: space-around;
     align-items: center;
     text-align: center;
 }
 .formaTrabajo img{
     justify-self: center;
     height: 25vh;
 }
 .formaTrabajo p{
     padding: 3vh;
 }
 .gridServiceTag{
     grid-column: 1;
     grid-row: 5/6;
     border-bottom: 2vh rgb(100, 100, 100) solid;
 }
 .serviceTag{
     padding: 3vh;
     
     margin: 3vh 0;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     align-items: center;
     text-align: center;
 }
 
@media only screen and (max-width:480px){
    p{
        text-align:justify !important;

    }
    body{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12vh auto auto auto auto auto 2vh;
    }
    .header__accesos{
        padding: 2vh;
        float:left;
        display: flex;
        flex-flow: column nowrap;    
    
    }
    
    .emergente1{
        flex-flow:column-reverse wrap;
    }
    .emergente2{
        flex-flow: row wrap;
    }
    .emergente3{
        display: none;
    }
    .gridQuienesIndex div{
        flex-flow: row wrap;
    }
    .footer{
        grid-column: 1/1;
        grid-row: 6/7;
        padding: 2vh;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        align-items: flex-start;
        position: relative;

    }
    .footer_redes ul{
        display: flex;
        flex-flow: row nowrap;
    }
    .derechos_wsp{
        height: 2vh;
        position: relative;
        transform: translate(15vw,-10vh) scale(4);
        
    }
    .derechos_wsp:hover{
        transform: translate(15vw,-10vh) scale(7);
    }
    .derechos p{
        font-size: 0.6rem;
    }
    p{
        font-size: 1rem;
    }
    .servicios{
        flex-flow: row wrap;
       
       gap: 1rem;
    }
    .historias{
        flex-flow: row wrap;
        
    }
    .servicioTecnico{
        padding: 1vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        
    }
    .servicioTecnico img{
        height: 10vh;
    
    }
    .servicioTecnico ul{
        list-style-type: none;
        font-size: 0.6rem;
        padding: 0.3rem;
        text-align: justify;
        
}
.servicioTecnico ul li{
    color: red;
    font-weight: 500;
}
.menuNavegacionFooter{
    display: none;
}
}
@media screen and (min-width:480px) and (max-width:780px){
    .gridBody{
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 12vh auto auto 86vh auto auto 2vh;
    }
    p{
        text-align:justify !important;

    }
    .emergente1{
        flex-flow:column-reverse wrap;
    }
    .emergente2{
        flex-flow: row wrap;
    }
    .emergente3{
        display: none;
    }
    .gridQuienesIndex div{
        flex-flow: row wrap;
    }
    .gridFooter{
        grid-column: 1/1;
        grid-row: 6/7;
        padding: 2vh;   
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        background-image: linear-gradient(rgb(100, 100, 100) 10%, #333);
        justify-content: flex-start;
        background-color:#333 ;
    }
    .redesFooter ul{
        display: flex;
        flex-flow: row wrap;
    }
    .gridDerechos p{
        font-size: 0.6rem;
    }
    p{
        font-size: 1rem;
    }
    .servicios{
        flex-flow: row wrap;
       
       gap: 1rem;
    }
    .historias{
        flex-flow: row wrap;
        
    }
    .servicioTecnico{
        padding: 1vh;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        text-align: center;
        
    }
    .servicioTecnico img{
        height: 10vh;
    
    }
    .servicioTecnico ul{
        list-style-type: none;
        font-size: 0.6rem;
        padding: 0.3rem;
        text-align: justify;
        
}
.servicioTecnico ul li{
    color: red;
    font-weight: 500;
}
.menuNavegacionFooter{
    display: none;
}
}
